html,
body {
  background-color: #ced4da;
  font-family: 'Montserrat', sans-serif;;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 250px;
  max-width: 280px;
  height: 100%;
 
} 

header {
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#navbar ul {
  height: 85%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #adb5bd;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 15px 30px;
  color: black;
  text-decoration: none;
  font-style: italic;
  font-weight: bolder;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 300px;
  padding: 20px;
  margin-bottom: 100px;
  text-align: justify;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f8f9fa;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media (max-width: 800px) {
  #navbar header {
    margin-left: 30px;
    width: max-content;
  }

  #navbar ul {
  background-color: #ced4da;
  border: solid;
  height: 190px;
  margin-left: 30px;
  width: max-content;
  
}

  #navbar {
    background-color: #ced4da;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 280px;
    border: none;
    z-index: 1;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 25px;
    min-width: 200px;
  }
}
